<div style="text-align: center;border-bottom: 2px solid;padding-top: 10px;padding-bottom:9px;margin-bottom: 10px;"> listing all order 
</div>
<div >

<table>
	<% @customers.each do |customer| %>
	<tr>
		<td><%= customer.name %></td>
		<td ><%= link_to 'show', "/orders?customer_id=#{customer.id}" %></td>
	</tr>
	<% end %>
	
</table>
</div>