<%= form_for @customer  do |f| %>
<% if @customer.errors.any? %>
<ul class="Signup_Errors">
	<% for mesg in @customer.errors.full_messages %>
	<li> *<%= mesg %> </li>
	<% end %>
</ul>
<% end %>
<div style="text-align: center; padding-top: 10px;
    padding-bottom: 10px;" >
  <%= f.text_field :name %></br>
  <div style="padding-top: 10px;">
  <%= f.submit :Save %>
  </div>
</div> 
<% end %>

