<div class="order-show"> listing all order 
</div>
<div >

<table>
	
	<% @orders.each do |order| %>
	<tr>
		<td><%= order.order_name %></td>
		<td><%= order.order_date %></td>
	</tr>
	<% end %>
	
</table>
</div>