// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
accnt-new{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

acnt-drop{
	padding-top: 10px;
	padding-left: 17px;
}

acnt-text-field{
	padding-top: 10px;
}

btn-submit{
	padding-left:15px;
	padding-top: 10px;
}

acnt-show{
	text-align: center;
	border-bottom: 2px solid;
	padding-top: 10px;
	padding-bottom:9px;
	margin-bottom: 10px;
}

.acnt-index{
	text-align: center;
	border-bottom: 2px solid;
	padding-top: 10px;
	padding-bottom:9px;
	margin-bottom: 10px;
}